In [7]:
import pandas as pd
from itertools import product

In [8]:
df = pd.read_excel("1.xlsx")

In [9]:
# Function to find matching pairs
def find_pairs(drug_list, gene_list, dataset):
    # Create combinations of all drugs and genes
    combinations = list(product(drug_list, gene_list))
    
    # Filter combinations to find matches in the dataset
    matching_pairs = []
    for drug, gene in combinations:
        if not dataset[(dataset['Drug'] == drug) & (dataset['Gene'] == gene)].empty:
            matching_pairs.append((drug, gene))
    
    return matching_pairs

In [13]:
# Example input lists
drug_list = ['DB00357','DB00523','DB00926','DB00799','DB00459','DB05785']
gene_list = ['P05113','P32321','P51970','P05108','P10415','Q06187']

In [15]:
drug_list = ['DB01129','DB00470','DB04905','DB00703','DB06414','DB00317']
gene_list = ['P08913','P34903','P04035','P12318','P21397']

In [16]:
# Find matches
matches = find_pairs(drug_list, gene_list, df)

# Display results
print("Matching pairs:")
for match in matches:
    print(match)

Matching pairs:

In [17]:
df

          Drug    Gene
0      DB00357  P05108
1      DB02721  P00325
2      DB00773  P23219
3      DB07138  Q16539
4      DB08136  P24941
...        ...     ...
15134  DB01215  P47870
15135  DB06089  P51787
15136  DB01614  P21728
15137  DB00582  P08684
15138  DB04793  P07477

[15139 rows x 2 columns]